.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3px;
}

.Dropdown {
  color: #1b3e77;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  margin: 4px;
  padding: 5px;
  width: 310px;
}

.Error {
  color: #1b3e77;
  border: 2px solid red;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  margin: 4px;
  padding: 4px;
  width: 310px;
}

.ErrMsg {
  color: red;
  height: 15px;
  font-size: 14px;
  margin-top: -1px;
  margin-left: 8px;
}

.Label {
  color: #1b3e77;
  font-size: 16px;
  margin-left: 5px;
}
