.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2px;
}

.Error {
  color: #1b3e77;
  border: 2px solid red;
  border-radius: 4px;
  font-size: 16px;
  height: 28px;
  padding: 3px 10px;
  width: 285px;
}

.ErrMsg {
  color: red;
  height: 16px;
  font-size: 14px;
  margin-top: 2px;
  margin-left: 4px;
}

.Input {
  color: #1b3e77;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 16px;
  height: 30px;
  padding: 3px 10px;
  width: 285px;
}

.Label {
  color: #1b3e77;
  font-size: 16px;
  margin: 1px;
}
