.container {
  width: 85%;
  margin: 0 auto;
}

.grid {
  padding: 1em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
}

.Header {
  align-items: center;
  color: #f78d34;
  display: flex;
  margin: 0 1rem;
}

.Text {
  margin: 1px 0;
}

.headingMargin {
  margin-right: 1rem;
}