.Container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.Checkbox {
  color: var(--primary-color);
  height: 20px;
  width: 20px;
}

.Label {
  color: var(--primary-color);
  font-size: 16px;
  margin: 4px;
}

.width {
  width: 310px;
}
