.Active {
  color: var(--secondary-color) !important;
}

.Link {
  color: var(--text-color);
  font-weight: bold;
  padding: 0 16px;
  text-decoration: none;
}

.Link:hover {
  background-color: white;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  padding: 8px;
  margin: 0 8px;
}

.Logo {
  margin: 0 8px;
}

.NavBar {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 8px;
}

.toggleButton {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  display: none;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.bar {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
  top: 12%;
}

.middle {
  top: 50%;
}

.bottom {
  top: 88%;
}

.toggleButton.close .top {
  transform: rotate(-45deg);
  top: 50%;
}

.toggleButton.close .middle, 
.toggleButton.close .bottom {
  transform: rotate(45deg);
  top: 50%;
}

@media screen and (max-width: 600px) {
  .toggleButton {
    display: inline-block;
  }

  .linkContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    animation: fadeIn 0.3s linear;
  }
  
  .linkContainer.close {
    display: flex;
  }

  .Link {
    width: 100%;
    padding: 8px 0;
    text-align: center;
  }

  .Link:hover {
    border-radius: 0;
    margin: 0;
    padding: 8px 0;
  }

  .NavBar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .Logo {
    margin: 7px 8px;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
