body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #eff0f5;
  position: relative;
}

body::before {
  content: "";
  height: 95vh;
  background-image: url('./images/homepage.jpg');
  background-size: cover;
  opacity: 0.15;
  position: absolute;
  top: 48px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -10;
}